#home{
    background-image: url(../images/p0.jpg)
}
#about{
    background-image: url(../images/p1.jpg)
}
#portfolio{
    background-image: url(../images/p2.jpg)
}
/* #service{
    background-image: url(../images/p3.jpg)
}
#contact{
    background-image: url(../images/p4.jpg)
} */

html,
body{
    width: 100%;
    height: 100%;
}

section{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
}

.txt-bg{
    background-color: rgba(255,255,255,.6);
    border-radius: 50px;
    text-align: justify;
    padding: 50px;
    width: 800px;
    margin: auto;
}

.txt-bg h2{
    text-align: center;
    color: #381D02;
}

.txt-bg h6{
    text-align: center;
    color: #381D02;
}

/* home超連結 */

.txt-bg .nav{
    text-align: center;
    padding-top: 30px;
    padding-left: 75px;
}
.nav ul{
    list-style: none;
}
.nav ul li{
    display: inline;
} 
.nav ul li a{
    color: #ebcfb4;
    /* text-decoration: none; */
    background-color: #381D02;
    padding: 5px;
    margin-right:2px;
    border-radius: 5px;
}



.info{
    overflow: hidden;
    
}

.info .box{
    float:right;
}

.info .box img{
    border-radius: 10%;
    /* width:300px; */
    height: 150px;
    margin: 20px;
    box-shadow: 0 0 10px #381D02;
    margin-top: 100px;
}

.info .box h4{
    text-align: center;
    color: #381D02;
    font-size: 15px;
}


